header {
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.container {
    max-width: 500px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    width: 300px;
    text-align: center;
}

.user-id {
    margin-bottom: 1rem;

    input {
        text-align: center;
    }
}

.error {
    font-size: 0.8rem;
    color: red;
}

.login-button {
    width: 100%;
    background-color: black !important;
    border: 1px solid black !important;
}

footer {
    margin-top: 2rem;
    text-align: center;
    border-top: 1px solid lightgrey;
}

@media screen and (max-width: 576px) {
    header {
        height: auto !important;
        h1 {
            font-size: 1.2rem;
        }
        .content {
            flex-direction: column;
            padding-bottom: 1rem;
        }
    }
    .container {
        padding: 0 0.5rem;
    }
}
