.post {
    margin-bottom: 1.5rem;

    .image {
        height: 150px;
        background-color: lightgray;
        margin-bottom: 1rem;
    }

    .post-interaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
